{{> header}}
        <h1>{{title}}</h1>

        <nav>
            <ul>
                {{#each nav as |nav|}}
                    <li><a href="{{nav.url}}">{{nav.name}}</a></li>
                {{/each}}

                <li>cart</li>
            </ul>
        </nav>

        <main>
            <p>CONTENT</p>
        </main>

        {{> footer}}
    </body>
</html>